* {
    box-sizing: border-box;
}

body{
    background:rgb(227, 251, 255);
    font-family: Arial, Helvetica, sans-serif;
}

details{
display: block;
}

summary{
    font-size: large;
}

.image{
    position:fixed;
}

.toaster1{
    position:fixed;
    bottom: 20px;
    right: 20px;
    scale: 120%;
}

.toaster2{
    position:fixed;
    top:250px;
    left: 40px;
    scale: 50%;
}

.toaster3{
    position:fixed;
    top: 200px;
    right: 200px;
    scale: 75%;
}

.bread1{
    position:fixed;
    bottom: 270px;
    right: 50px;
    scale: 135%;
}

.bread2{
    position:fixed;
    bottom: 500px;
    left: 250px;
    scale: 50%;
}

.bread3{
    position:fixed;
    bottom: 75px;
    right: 750px;
    scale: 75%;
}

.pb1{
    position:fixed;
    bottom: 120px;
    right: 450px;
    scale: 300%;
}

.pb2{
    position:fixed;
    bottom: 150px;
    left: 50px;
    scale: 75%;
}

.bread3{
    position:fixed;
    bottom: 800px;
    right: 300px;
    scale: 150%;
}

.toast1{
    position:fixed;
    bottom: 600px;
    right: 45px;
    scale: 17%;
}

.toast2{
    position:fixed;
    bottom: 120px;
    left: 230px;
    scale: 75%;
}

.toast3{
    position:fixed;
    bottom: 1000px;
    right: 95px;
    scale: 150%;
}

.poem{
    position: fixed;
    height: 500px;
    width: 500px;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about{
    background-image: url(img/toast-bitmap.png);
    position: relative;
    height: 800px;
    width: 500px;
    left: 50%;
    transform: translate(-50%, 0%);   
    margin:20px;
}

.part-1{
    position: relative;
    height: 500px;
    width: 500px;
    left: 15px;
}